html {
    width: 700px;
}

.optionLine {
    margin-bottom: 10px;
}
.optionLine > label {
    display: inline-block;
    width: 150px;
}
.optionLine > textarea {
    vertical-align: top;
}

#status {
    padding-top: 10px;
    height: 30px;
}

.right {
    float: right;
}
